.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #3A4895;
  text-decoration: none;
  border: none;
  
}
.header-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAFAFA;
    height: 50px;
    margin: 0 0;
    padding: 0 2%;
  
  }

  .itemQuantity {
    position: absolute;
    color: #FFFFFF;

    font-size: 8px;
    line-height: 0.5;

    background-color: red;
    border: none;
    border-radius: 100px;
    padding: 5px;
    right: 2.1%;
    top: 1%
  }