.cart-items {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: solid;
    border-color: #D9D9D9;
  }
  
  .cart-items img {
    max-width: 10%;
    max-height: 10%; 
    flex: 1; 
  }
  
  .cart-items h3 {
    width: 6%;
    font-size: 14px;
  }
  