.product-card h3, h4 {
    font-size: 12px;
    font-weight: 600;
    
    
}

.product-card h4 {
    text-align: left;
    width: 160px;
}

.product-card p {
    font-size: 10px;
    width: 100%;
    font-weight: 100;
    color: #949494;
    text-align: left;
    text-indent: 10px;
}

.product-card a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 12px;
    margin-top: 5px;
}

.product-card {
    background-color: #FFFFFF;
    height: 283px;
    width: 183px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: left;

    margin-right: 66px;
    margin-bottom: 32px;
    padding-top: 16px;

}

.product-card img {
    background-color: #FFFFFF;
    height: 153px;
    width: 151px;
    padding: 18px 32px;
    border: solid;
    border-color: #d7d3d3;
    border-width: 1px;
    border-radius: 12px;
    margin-left: -40px;

}

.heart-icon {
    height: 25px;
    width: 25px;

    position:relative;
    top: 5px;
    left: 120px;
    z-index: 1;

    color: aliceblue;
    background-color: #d7d3d3;
    padding: 2px;
    border-radius: 60px;

}