*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aqua;
  height: 50px;

}

.footer-container {

  background-color: green;
}